.team-img {
    width: 100%;
    height: 250px; /* Ajusta la altura fija para uniformidad */
    overflow: hidden; /* Evita que las imágenes sobresalgan */
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cubre el área sin deformarse */
    border-radius: 10px 10px 0 0; /* Redondea solo la parte superior */
}
