/* Fondo del breadcrumb */
.bg-breadcrumb {
    background: #16243D !important;
    background-image: none !important;
    padding: 50px 0;
}

.breadcrumb a {
    color: white;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

/* Fondo del cuerpo de la página */
body {
    background-color: #16243D;
}

/* Contenedor principal de mapa y formulario */
.map-form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    max-width: 1300px;
    margin: 0 auto;
    background-color: #B1323A;
    border-radius: 15px;
}

/* Contenedor del mapa */
#map-container {
    flex: 1;
    min-width: 300px;
    border-radius: 15px;
}

/* Estilos para el mapa */
#map {
    width: 100%;
    height: 50vh; /* Altura relativa */
    min-height: 300px;
    max-height: 600px;
    border-radius: 10px;
}

/* Estilos para pantallas grandes */
@media (min-width: 1024px) {
    #map {
        height: 580px; /* Altura ajustada en pantallas grandes */
    }
}

/* Contenedor de la barra lateral (formulario) */
.sidebar {
    flex: 1;
    min-width: 300px;
    background: white;
    border-radius: 15px;
    padding: 20px;
    border: 2px solid #5a2a82;
}

/* Imagen dentro del formulario */
.sidebar img {
    display: block;
    margin: 0 auto 20px;
    max-width: 300px;
}

/* Contenedor del formulario */
.form-container {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

/* Estilos para los campos de entrada */
.form-container input {
    margin: 10px 0;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Botón del formulario */
.form-container button {
    margin-top: 15px;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background: rgb(27, 53, 197);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.form-container button:hover {
    background: #16243D;
}

/* Contenedor de la tabla para hacerla responsiva */
.table-container {
    width: 100%;
    overflow-x: auto; /* Barra de desplazamiento horizontal */
}

/* Estilos generales de la tabla */
table {
    width: 100%;
    min-width: 600px; /* Asegura un ancho mínimo para la tabla */
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    word-wrap: break-word; /* Asegura que el texto largo se ajuste dentro de las celdas */
    white-space: nowrap; /* Evita que el texto se desborde en una sola línea */
}

/* Media Queries para Responsividad */
@media (max-width: 1024px) {
    .map-form-container {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        width: 100%;
    }
}

@media (max-width: 768px) {
    #map {
        height: 40vh;
    }

    th, td {
        font-size: 14px;
    }
}