.table-responsive {
    margin-top: 2rem;
}

.table {
    margin-bottom: 2rem;
}

.table thead th {
    background-color: var(--bs-primary);
    color: #fff;
    text-transform: uppercase;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-bordered th, .table-bordered td {
    border: 1px solid #ddd;
}

.btn-outline-primary {
    border-color: var(--bs-primary);
    color: var(--bs-primary);
}

.btn-outline-primary:hover {
    background-color: var(--bs-primary);
    color: #fff;
}
